# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_DATABASE=pms_db

# Estas dos se generan automaticamente en el primer arranque.
# Si quieres definirlas manualmente:
#   php artisan key:generate --show
#   php artisan jwt:secret --show
APP_KEY=
JWT_SECRET=